![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

# Exploring Indigenous Populations in the Americans (Canada and United States)

## Prior to European Contact 

In this short notebook, we show how to scrape some data from a Wikipedia webpage and then visualize the data in a nice graphic.

We are looking at population data for Indigenous peoples before contact with Europeans. 

Our data source is the Wikipedia page [Population history of the Indigenous peoples of the Americas](https://en.wikipedia.org/wiki/Population_history_of_Indigenous_peoples_of_the_Americas). Note that population estimates vary widely, often reflecting biases of various authors.

### Step 1: Libraries

FIrst, we import some useful Python libraries: [pandas](https://pandas.pydata.org/) for data analysis and [Plotly Express](https://plotly.com/python/plotly-express/) for creating visualizations.

In [1]:
%pip install -q pyodide_http nbformat plotly
import pyodide_http
pyodide_http.patch_all()

import pandas as pd
import plotly.express as px
print('Libraries imported')

Libraries imported

### Step 2: Getting Data

We then read a Wikipedia webpage, and store the results in a dataframe called `df`. We've saved the data to a CSV file that we can import if things have changed on the Wikipedia page.

This dataframe will include Indigenous population estimations based on historian archiving from scholars.

In [3]:
try:
    df = pd.read_html('https://en.wikipedia.org/wiki/Population_history_of_Indigenous_peoples_of_the_Americas')[0]
    if df.columns[0] != 'Author':
        print('reading data from CSV file')
        df = pd.read_csv('data/indigenous-populations-precontact.csv')
except:
    print("error, will use local csv file.")
    df = pd.read_csv('data/indigenous-populations-precontact.csv')
df

,Author,Date,USA and Canada,Mexico,Mesoamerica,Caribbean,Andes,Patagonia and Amazonia,Total
0,Sapper[39],1924,2–3,12–15,5–6,3–4,12–15,3–5,37–48.5
1,Kroeber[40],1939,0.9,3.2,0.1,0.2,3,1,8.4
2,Steward[41],1949,1,4.5,0.74,0.22,6.13,2.9,15.49
3,Rosenblat[42],1954,1,4.5,0.8,0.3,4.75,2.03,13.38
4,Dobyns[43],1966,9.8–12.25,30–37.5,10.8–13.5,0.44–0.55,30–37.5,9–11.25,90.04–112.55
5,Ubelaker[44],1988,1.213–2.639,–,–,–,–,–,–
6,Denevan[45],1992,3.79,17.174,5.625,3,15.696,8.619,53.904
7,Snow[46],2001,3.44,–,–,–,–,–,–
8,Alchon[47],2003,3.5,16–18,5–6,2–3,13–15,7–8,46.5–53.5
9,Thornton[48],2005,7,–,–,–,–,–,–
10,Peros[49],2009,2.5,–,–,–,–,–,–

### Step 3: Cleaning Data

The columns contain text references to ranges of numbers, but computers usually don't like that. Instead, we're going to replace the text with the number that represents the average of the value.

As we'll be focusing on the USA and Canada, we'll primarily replace values in that column.

In [ ]:
df.replace(['2 million-3 million'],'2500000',inplace=True)
df.replace(['0.9 million'],'900000',inplace=True)
df.replace(['1 million'],'1000000',inplace=True)
df.replace(['9.8-12.25 million'],'11000000',inplace=True)
df.replace(['1.213-2.639 million'],'2000000',inplace=True)
df.replace(['3.79 million'],'3790000',inplace=True)
df.replace(['3.44 million'],'3440000',inplace=True)
df.replace(['3.5 million'],'3500000',inplace=True)
df.replace(['7 million'],'7000000',inplace=True)
df['USA and Canada'] = pd.to_numeric(df['USA and Canada'], errors='coerce')
df

Wikipedia is an excellent source of information, but one of the drawbacks of being so well sourced is that the editors of Wikipedia often add tags to pieces of information to show where the data came from. In our dataframe, this shows up in the Author column as \[#\], with various numbers depending on the source.

We can remove those with the code below, that simply removes the last three characters from a string.

In [ ]:
df['Author'] = df['Author'].str[:-4]
df

It will make things easier if we combine the `Author` and `Date` columns. We'll do this in the next code cell.

In [ ]:
df['Author (Year)'] = df['Author'] + ' (' + df['Date'].astype(str) + ')'
df

### Step 4: Plotting Data

Let's use Plotly Express to create a bar chart. We will plot the number of indigenous people in the USA/Canada prior to European contact.

In the following code: `x="Author (Year)"` pulls the author-year information and plots it on the x-axis of the bar graph. `y="USA and Canada"` gives value of the estimated population and plots it on the y-axis of the bar graph.

In [ ]:

px.bar(df, x='Author (Year)', y='USA and Canada', title='Precontact Indigenous Populations Estimates by Author')

## Further Work

- What else can you do with this data? Perhaps clean up the data in other columns to make other plots.

- What other sources of data can you use? Is there data for particular regions, such as B.C. or the Pacific West Coast, that might have more accurate data? Look into the work of anthropologist [Robert Boyd](https://en.wikipedia.org/wiki/Robert_Boyd_(anthropologist)).

## Conclusions

This notebook showed how to scrape data from Wikipedia into a pandas dataframe and produce informative charts. The data needed to be cleaned in order to be understood and plotted using Plotly Express.

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)